- @navigator = "#{@fifo[:host]}:#{@fifo[:port]}"

%p
  - s = _('Latest data (updated every %d minutes)') % CONF[:fifo_manager_snapshot_interval]
  = #{s}:
  - s = _('%s ago') % distance_of_time_in_words(@created_at.to_i, Time.now.to_i)
  = s

%table{:class => 'data'}
  %tr
    %th= _('Game')
    %th= _('Channel')
    %th= _('Number of players')

  - @gc.each do |gc|
  %tr
    - s = _('%s channels') % gc[:name_nums].size
    %th== #{h(gc[:game].name)} (#{s})
    %td= link_to(gc[:name_nums][0][:name], play_path(:id => gc[:game].id, :channel => gc[:name_nums][0][:name]))
    %td= gc[:name_nums][0][:num]

  - (1...gc[:name_nums].size).each do |i|
  %tr
    %td
    %td= link_to(gc[:name_nums][i][:name], play_path(:id => gc[:game].id, :channel => gc[:name_nums][i][:name]))
    %td= gc[:name_nums][i][:num]
  - end
  - end
