- unless flash[:notice].nil?
  %p.notice= flash[:notice]

%h2= _('Toy container')

%p= link_to(_('Update container'), edit_admin_toy_container_path)

%h2= _('Toys')

%p= link_to(_('Upload new toy'), new_admin_toy_path)

- unless @toys.blank?
  %ol
    - @toys.each do |t|
      %li= link_to(t.name, edit_admin_toy_path(t))
