%p= _("Let's make your web site more interesting by embedding toys!")

%ol
  %li= _('Select toy')
  %li= _('Configure')
  %li= _('Embed into your web site')

- if @toys.size == 1
  .left= render_toys(@game, @toys)
- else
  .left= render_toys(@game, @toys[0...@toys.size/2])

.right= render_toys(@game, @toys[@toys.size/2...@toys.size])

%div{:style => 'clear:both'}

%script{:type => 'text/javascript'}
  == var ids = [#{(@toys.map { |t| t.id }).join(', ')}];
  for (var i = 0; i < ids.length; i++) {
  == var so = new SWFObject('/toys/' + ids[i] + '/#{GetText.locale}/dummy', 'embed_toy_flash' + ids[i], '100%', '250', '9', '');
  if (i == 0) {
  so.useExpressInstall('/javascripts/expressinstall.swf');
  }
  so.addVariable('mode', 'demo');
  so.write('toy_flash' + ids[i]);
  }
