!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en', 'xml:lang' => 'en'}
  %head
    %meta{'http-equiv' => 'Content-type', :content => 'text/html; charset=utf-8'}
    %title= CONF[:app_title] + ' - ' + _('Administration')
    = stylesheet_link_tag('application')
    = javascript_include_tag('swfobject')

  %body
    #container
      #header_main
        #header
          #banner= link_to(image_tag('logo.png'), admin_path)

        %ul{:id => 'menu'}
          %li= link_to(_('Statistics'), admin_stats_path, :class => ('admin/stats' == params[:controller])                                ? 'selected' : '')
          %li= link_to(_('Games'),      admin_games_path, :class => ['admin/games', 'admin/game_container'].include?(params[:controller]) ? 'selected' : '')
          - if CONF[:toy]
          %li= link_to(_('Toys'),       admin_toys_path,  :class => ['admin/toys', 'admin/toy_container'].include?(params[:controller])   ? 'selected' : '')
          - end

        #main
          - unless @navigator.nil?
          #navigator= @navigator
          - end
          %div= yield

      #flags= flags_to_locales

      %div{:style => 'clear:both'}

      #footer= CONF[:copyright]
